node_modules/
.DS_Store
*.log
mobile/dist/
extension/dist/
!extension/dist/popup_bundle.js
!extension/dist/popup_bundle.js.map
!extension/dist/popup.html
!extension/dist/popup.css
!extension/dist/manifest.json
!extension/dist/lang/
!extension/dist/icons/
!extension/dist/words.js
!extension/dist/puzzles.js
*.zip
lang/it/raw_dictionary.txt
lang/it/words_it.js
